{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1>회원정보 수정</h1>


<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% buttons %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            <a href="{% url 'posts:list' %}" class="btn btn-info">BACK</a>
        </div>
        <div class="d-flex justify-content-end mt-5">
            <form class="dropdown-item" action="{% url 'accounts:delete' %}" method="POST" style="display: inline" onsubmit="return confirm('R U SURE??');">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="회원탈퇴" />
            </form>
        </div>
    {% endbuttons %}
</form>

{% endblock %}