{% extends 'base.html' %} {% block content %}
<h1>LIST</h1>
<hr>

<!--<div class="d-flex flex-wrap justify-content-center">-->
<div class="d-flex justify-content-center">
    <div class="row">
    {% for post in posts %} 
    {% include 'posts/_post.html' %} 
    {% endfor %}
    </div>
</div>

{% endblock %}






<!--{# if user.is_authenticated #}-->
<!--<h4>{{ user.username }}님 환영합니다.</h4>-->
<!--<a href="{# url 'posts:create' #}">[글 작성하기]</a>-->

<!--<div class="btn-group mt-2 mx-5" style="display: inline">-->
<!--    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    설정-->
<!--                  </button>-->
<!--    <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="{# url 'accounts:edit' #}">[회원정보수정]</a>-->
<!--        <a class="dropdown-item" href="{# url 'accounts:password_change' #}">[비밀번호 변경]</a>-->
<!--        <form action="{% url 'accounts:logout' %}" method="POST" class="d-flex justify-content-center">-->
<!--            {# csrf_token #}-->
<!--            <input type="submit" value="로그아웃" />-->
<!--        </form>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <form class="dropdown-item" action="{# url 'accounts:delete' #}" method="POST" style="display: inline" onsubmit="return confirm('R U SURE??');">-->
<!--            {# csrf_token #}-->
<!--            <input type="submit" value="회원탈퇴" />-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--{# else #}-->
<!--<a href="{# url 'accounts:signup' #}">[회원가입]</a>-->
<!--<a href="{# url 'accounts:login' #}">[로그인]</a> -->
<!--{# endif #}-->